@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto&display=swap");

/* vars */

:root {
  /* main */
  --main-color: #00093c;
  --main-orange: #f7941d;
  --main-orange-hover: #ffae4d;
  --main-blue: #27aae1;
  --main-gradient: linear-gradient(90deg,
      rgba(247, 148, 29, 1) 0%,
      rgba(39, 170, 225, 1) 100%);

  /* cards */
  --aqua: #c7eeff;
  --orange: #ffce94;
  --yellow: #ffe38e;
  --light-purple: #ddddff;
  --green: #b8efcf;
  --blue: #c7eeff;
  --light-yellow: #ffe9a8;
  --pink: #ffeef6;
  --purple: #ddddff;
}

/* shadow */

.btn-shadow {
  position: relative;
  background-color: white;
}

.btn-shadow:before {
  position: absolute;
  z-index: -1;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(90deg, #f7941d 0%, #27aae1 100%);
  filter: blur(10px);
  opacity: 0.3;
  transition: all 0.3s;
}

.btn-shadow:hover::before {
  opacity: 0.8;
  transform: translate(5px, 5px);
}

.list-shadow {
  position: relative;
  background-color: #fff;
}

.list-shadow:before {
  position: absolute;
  z-index: -1;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(90deg, #f7941d 0%, #27aae1 100%);
  filter: blur(10px);
  opacity: 0.3;
  transition: all 0.3s;
}

.card-shadow {
  position: relative;
  background-color: white;
}

.card-shadow:before {
  position: absolute;
  z-index: -1;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(90deg, #f7941d 0%, #27aae1 100%);
  filter: blur(10px);
  opacity: 0.3;
  transition: all 0.3s;
}

.card-shadow:hover::before {
  opacity: 0.8;
}

/* basic style */

html {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  height: 100%;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 auto;
}

.container {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

/* header-line */

.header-line {
  background-color: var(--main-color);
  color: white;
}

.header-line svg>path {
  fill: white;
}

.header-line__inner {
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 110px;
}

.menu__link {
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: center;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.menu__link-icon {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.menu__link-icon>span {
  border-radius: 2px;
  width: 20px;
  height: 6px;
  border: 2px solid;
  border-color: white;
}

.burger-btn {
  width: 40px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  display: none;
}

.burger-btn>span {
  width: 100%;
  height: 2px;
  background-color: white;
  border-radius: 1px;
}

.burger-btn>span:nth-child(2) {
  width: 80%;
  margin-left: auto;
}

.burger-menu__list {
  display: flex;
  transition: all 0.3s ease-in;
  padding: 30px 10px;
  flex-direction: column;
  position: fixed;
  flex-direction: column;
  gap: 25px;
  color: black;
  background-color: white;
  left: 100%;
  width: 100vw;
  top: 110px;
  height: 100vh;
  z-index: 999;
}

body.overflow {
  overflow: hidden;
}

.burger-menu__list.active {
  background-color: white;
  left: 0;
}

.burger-menu__link {
  justify-content: start;
}

.burger-menu__link>.menu__link-icon>span {
  border-color: var(--main-color);
}

.menu__main-item {
  font-size: 16px;
  font-weight: 500;
  margin: 15px 0;
}

.location__box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.location__arrow path {
  fill: white;
}

.burger-location__box {
  align-items: center;
  justify-content: start;
  gap: 10px;
  margin-top: 25px;
  display: none;
}

.location__title {
  text-decoration: underline;
}

.burger-header__phone {
  font-size: 18px;
  font-weight: 600;
  display: none;
  margin-top: 25px;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.burger-login {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  display: none;
}

.title__inner {
  font-size: 36px;
  font-weight: 700;
  margin-top: 36px;
}

/* main */

main {
  padding-top: 40px;
  padding-bottom: 330px;
}

.title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 40px;
}

.events {
  display: grid;
  grid-template-areas:
    "item1 item2 item3"
    "item4 item4 item5"
    "item6 item7 item8";
  gap: 20px;
}

.events__item.item1 {
  background-color: var(--blue);
  grid-area: item1;
}

.events__item.item2 {
  background-color: var(--yellow);
  grid-area: item2;
}

.events__item.item3 {
  background-color: var(--purple);

  grid-area: item3;
}

.events__item.item4 {
  background-color: var(--green);
  flex-direction: row;
  padding: 0;

  grid-area: item4;
}

.events__item.item4 .events__item-content {
  padding: 28px 30px;
}

.events__item-img {
  height: 100%;
}

.events__item.item5 {
  background-image: url("../images/event_bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: item5;
  justify-content: space-between;
}

.cards__item {
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.open-doors {
  grid-area: open-doors;
  cursor: pointer;
  margin-bottom: 20px;
  background-color: var(--main-orange-hover);
  padding: 30px 40px;
}

.cards__date {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 52px;
  justify-content: space-between;
  height: 100%;
}

.cards__date-title {
  font-weight: 700;
  font-size: 100px;
}

.cards__date-text {
  font-weight: 600;
  font-size: 20px;
}

.cards__text {
  width: 556px;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.cards__btn {
  gap: 10px;
  padding: 17px 61px;
  border-radius: 10px;
  border: 2px solid black;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.8;
  transition: all 0.3s;
}

.events__item.item5 * {
  color: #fff;
}

.events__item-icon path {
  fill: white;
}

.events__item.item6 {
  background-color: var(--blue);
  grid-area: item6;
}

.events__item.item7 {
  background-color: var(--pink);
  grid-area: item7;
}

.events__item.item8 {
  background-color: var(--orange);
  grid-area: item8;
}

.events__item {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 28px 30px;
}

.events__item-type {
  font-size: 12px;
  margin-bottom: 24px;
}

.events__item-row {
  align-items: center;
  display: flex;
  gap: 7px;
  font-size: 18px;
  font-weight: 500;
  color: #00093c;
  margin-bottom: 20px;
}

.events__item-text {
  font-size: 12px;
  line-height: 1.5;
  color: #4f4f4f;
  margin-bottom: 17px;
}

.events__item-date {
  font-size: 12px;
}

/* footer */

footer {
  height: 100%;
  background-color: var(--main-color);
}

.footer__inner {
  display: flex;
  justify-content: space-between;
}

.footer__info {
  padding-top: 140px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.footer__logo {
  filter: brightness(0) saturate(100%) invert(100%) sepia(52%) saturate(1021%) hue-rotate(176deg) brightness(116%) contrast(91%);
  margin-bottom: 43px;
}

.footer__phone-number,
.footer__location {
  margin-bottom: 16px;
}

.footer__email {
  margin-bottom: 38px;
}

.footer__socials {
  margin-bottom: 30px;
  display: flex;
  gap: 20px;
}

.rights {
  font-size: 12px;
  color: #bdbdbd;
}

.footer__row {
  margin-left: 86px;
  display: flex;
  margin-top: 70px;
  gap: 60px;
  color: white;
}

.footer__colummn-title {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 16px;
  font-weight: 700;
}

.footer__column-list {
  font-size: 14px;
  line-height: 2.4;
}

/* help-box */

.help-box {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 35%);
}

.help-box__inner {
  border-radius: 20px;
  max-width: 100%;
  height: 270px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}

.help-box__owl {
  position: absolute;
  bottom: -60px;
  left: -200px;
}

.help-box__img {
  margin-right: 50px;
  margin-left: auto;
  background-image: url("../images/message-box2.svg");
  width: 421px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 192px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 20px 15px 16px 50px;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 500;
}

.help-box__img>span {
  font-weight: 600;
  font-size: 24px;
}

.help-box__form {
  width: 440px;
  height: 190px;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 20px;
  grid-template-areas:
    "login login"
    "phone email"
    "text button";
}

.help-box__login,
.help-box__phone,
.help-box__email {
  border: none;
  outline: none;
  background-color: rgba(0, 9, 60, 0.1);
  height: 50px;
  border-radius: 5px;
  color: #4f4f4f;
  padding: 0 19px;
}

.help-box__login {
  grid-area: login;
}

.help-box__phone {
  grid-area: phone;
}

.help-box__email {
  grid-area: email;
}

.help-box__form-text {
  grid-area: text;
}

.help-box__form-text {
  font-size: 10px;
  line-height: 1.4;
}

.help-box__btn {
  background-color: var(--main-orange);
  color: white;
  border: none;
  outline: none;
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
  grid-area: button;
}

.header-main__image {
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: 400px;
  display: none;
}

@media screen and (max-width: 1020px) {
  .help-box__inner {
    flex-direction: column;
    height: 100%;
    gap: 40px;
  }

  .help-box__owl {
    bottom: 116px;
    left: -194px;
  }

  .footer__row {
    display: none;
  }

  .footer__info {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }

  .footer__logo {
    display: none;
  }

  .menu {
    display: none;
  }

  .burger-btn {
    display: flex;
  }

  .logo__img {
    width: 85px;
  }

  .header-line__inner {
    height: 95px;
  }

  .burger-menu__list {
    top: 95px;
  }

  .burger-btn {
    width: 37px;
    height: 16px;
  }

  .help-box {
    transform: translate(-50%, 15%);
  }

  main {
    padding-bottom: 500px;
  }
}

@media screen and (max-width: 840px) {
  .logo__img {
    width: 75px;
  }

  .header-line__inner {
    height: 80px;
  }

  .burger-menu__list {
    top: 80px;
  }

  .burger-btn {
    width: 34px;
    height: 14px;
  }

  .help-box__img {
    display: none;
  }

  .help-box__owl {
    display: none;
  }

  .help-box__form {
    width: 100%;
    height: 100%;

    grid-template-areas:
      "login login"
      "phone phone"
      "email email"
      "text text"
      "button button";
  }

  .events {
    grid-template-areas:
      "item1 item2"
      "item3 item5"
      "item4 item4"
      "item6 item7"
      "item8 .";
  }

  .help-box {
    transform: translate(-50%, 40%);
  }
}

@media screen and (max-width: 610px) {
  .events__item-img {
    display: none;
  }

  .events__item.item5{
    height: 220px;
  }

  .location__box {
    display: none;
  }

  .login {
    display: none;
  }

  .header__phone {
    display: none;
  }

  .logo__img {
    width: 57px;
  }

  .header-line__inner {
    height: 60px;
  }

  .burger-menu__list {
    top: 60px;
  }

  .burger-btn {
    width: 30px;
    height: 12px;
  }

  .burger-location__box {
    display: flex;
  }

  .burger-header__phone {
    display: flex;
  }

  .events {
    grid-template-areas:
      "item1"
      "item2"
      "item3"
      "item5"
      "item4"
      "item6"
      "item7"
      "item8";
  }

  .open-doors {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .cards__text {
    margin-right: 0;
    width: 100%;
  }

  .cards__date {
    margin-right: 0;
  }
    .cards__btn {
      margin-top: 20px;
    }
}

@media screen and (max-width: 320px) {}